{% extends 'base.html.twig' %}


{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}

{% block titulo %}

{% endblock %}

{% block gestioneventos %}
    {% for trabajador in trabajadores.trabajadores %}
        {{ trabajador.dni }}
        {{ trabajador.nombre }}

    {% endfor %}
    <!-- Portfolio Item 1-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1" style="margin-top: 205px;">

{% block tablaeventos %}
    <div style="margin-top: 160px; position: relative; top: 50px;">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal10" style="margin-top: 205px;">

            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <h3 class="img-fluid">GESTION DE EVENTOS</h3>
        </div>
        <table>
            <thead>
            <ul style="display: flex;">
                <div class="portfolio-item mx-auto col-md-6 col-lg-4 mb- portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <li style="width: 100%; display: inline;">ID</li>
                </div>&nbsp;&nbsp;

                <li style="width: 100%; display: inline;">dni</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">nombre</li>
                <li style="width: 100%; display: inline;">apellidos</li>
                <li style="width: 100%; display: inline;">direccion</li>
                <li style="width: 100%; display: inline;">telefono</li>
                <li style="width: 100%; display: inline;">email</li>
                <li style="width: 100%; display: inline;">password</li>
                <li style="width: 100%; display: inline;">sexo</li>
            </ul>

            </thead>
        </table>
        <table>
            <tbody>
            {% set count = 1 %}
            {% for trabajador in trabajadores.trabajadores %}

            <ul style="display: flex;">
                <div class="portfolio-item mx-auto col-md-6 col-lg-4 mb- portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal13">
                    <li style="width: 100%; display: inline;">Are</li>
                </div>&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">{{ trabajador.dni }}</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">{{ trabajador.nombre }}</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">{{ trabajador.apellidos }}</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline; ">{{ trabajador.direccion }}</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline; ">{{ trabajador.telefono }}</li>
                <li style="width: 100%; display: inline; ">{{ trabajador.email }}</li>
                <li style="width: 100%; display: inline; ">{{ trabajador.password }}</li>
                <li style="width: 100%; display: inline; ">{{ trabajador.sexo}}</li>



            </ul>
                {% set count = count + 1 %}
            {% endfor %}







            <ul style="display: flex;">
                <div class="portfolio-item mx-auto col-md-6 col-lg-4 mb- portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal2">
                    <li style="width: 100%; display: inline;">Tomo</li>
                </div>&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">Tomorrowland</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">Es un evento en Belgica</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">TECH</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline; ">24/07/2021</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
            <ul style="display: flex;">
                <div class="portfolio-item mx-auto col-md-6 col-lg-4 mb- portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal3">
                    <li style="width: 100%; display: inline;">RBF</li>
                </div>&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">Reggaeton beach festival</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">El evento esta situado en santander y barcelona</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">Reggaeton</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline; ">13/08/2021</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
            <ul style="display: flex;">
                <div class="portfolio-item mx-auto col-md-6 col-lg-4 mb- portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal4">
                    <li style="width: 100%; display: inline;">Sonus</li>
                </div>&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">Sonus festival</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">El evento esta situado en el sur de croacia</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">Tech</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline; ">15/08/2021</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>

            </tbody>
        </table>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal10">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <button type="submit">Crear</button>
        </div>
    </div>
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Arenal sound</h2>
                                <form method="post">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre"><br><br>
                                    <label for="email">Ubicacion:</label>
                                    <input type="text" name="artisrta"><br><br>
                                    <label for="descripcion">Descripcion:</label>
                                    <input type="text" name="descripcion"><br><br>
                                    <label for="fecha">Fecha del evento:</label>
                                    <input type="date" name="fecha"><br><br>
                                    <label for="fecha">Organizador:</label>
                                    <input type="text" name="fecha"><br><br>
                                </form>
                                <button class="btn btn-primary">
                                    Crear
                                </button>
                                <button class="btn btn-primary">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Arenal sound</h2>
                                <form method="post">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre"><br><br>
                                    <label for="email">Ubicacion:</label>
                                    <input type="text" name="artisrta"><br><br>
                                    <label for="descripcion">Descripcion:</label>
                                    <input type="text" name="descripcion"><br><br>
                                    <label for="fecha">Fecha del evento:</label>
                                    <input type="date" name="fecha"><br><br>
                                    <label for="fecha">Organizador:</label>
                                    <input type="text" name="fecha"><br><br>
                                </form>
                                <button class="btn btn-primary">
                                    Modificar
                                </button>
                                <button class="btn btn-primary">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Tomorrowland</h2>
                                <form method="post">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre"><br><br>
                                    <label for="email">Ubicacion:</label>
                                    <input type="text" name="artisrta"><br><br>
                                    <label for="descripcion">Descripcion:</label>
                                    <input type="text" name="descripcion"><br><br>
                                    <label for="fecha">Fecha del evento:</label>
                                    <input type="date" name="fecha"><br><br>
                                    <label for="fecha">Organizador:</label>
                                    <input type="text" name="fecha"><br><br>
                                </form>
                                <button class="btn btn-primary">
                                    Modificar
                                </button>
                                <button class="btn btn-primary">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal3Label">RBF</h2>
                                <form method="post">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre"><br><br>
                                    <label for="email">Ubicacion:</label>
                                    <input type="text" name="artisrta"><br><br>
                                    <label for="descripcion">Descripcion:</label>
                                    <input type="text" name="descripcion"><br><br>
                                    <label for="fecha">Fecha del evento:</label>
                                    <input type="date" name="fecha"><br><br>
                                    <label for="fecha">Organizador:</label>
                                    <input type="text" name="fecha"><br><br>
                                </form>
                                <button class="btn btn-primary">
                                    Modificar
                                </button>
                                <button class="btn btn-primary">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4-->

    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal4Label">Sonus fest</h2>
                                <form method="post">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre"><br><br>
                                    <label for="email">Ubicacion:</label>
                                    <input type="text" name="artisrta"><br><br>
                                    <label for="descripcion">Descripcion:</label>
                                    <input type="text" name="descripcion"><br><br>
                                    <label for="fecha">Fecha del evento:</label>
                                    <input type="date" name="fecha"><br><br>
                                    <label for="fecha">Organizador:</label>
                                    <input type="text" name="fecha"><br><br>
                                </form>
                                <button class="btn btn-primary">
                                    Modificar
                                </button>
                                <button class="btn btn-primary">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

{% endblock %}
            {% endblock %}



