{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}

{% block titulo %}
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1" style="margin-top: 205px;">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <h3 class="img-fluid">CREAR MAQUETAS</h3>
    </div>
{% endblock %}
{% block table %}
    <div style="position: relative; top: 150px;">
        <table>
            <thead>
            <ul style="display: flex;">
                <div class="portfolio-item mx-auto col-md-6 col-lg-4 mb- portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <li style="width: 100%; display: inline;">ID</li>
                </div>&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">NOMBRE</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">DESCRIPCION</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">ARTISTA</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>

            </thead>
        </table>
        <table>
            <tbody>
            {% set count = 1 %}
            {% for  maqueta in maquetaciones.maquetas %}
            <ul style="display: flex;">
                <div class="portfolio-item mx-auto col-md-6 col-lg-4 mb- portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal{{ count }}">
                    <li style="width: 100%; display: inline;">Rap</li>
                </div>&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">{{ maqueta.maquetas.nombre }}</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">{{ maqueta.maquetas.descripcion }}</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="width: 100%; display: inline;">{{ maqueta.artista.nombre }}</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
                {% set count = count + 1 %}
            {% endfor %}

            </tbody>
        </table>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal10">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <button type="submit">Crear</button>
        </div>
    </div>
    </div>
    <!--Portfolio -->
    {% set count = 1 %}
{% for maqueta in maquetaciones.maquetas %}
    <!-- Portfolio Modal 1-->

    <div class="portfolio-modal modal fade" id="portfolioModal{{ count }}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Maquetas de Rap</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <form method="post">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre" value="{{ maqueta.maquetas.nombre }}"><br><br>
                                    <label for="email">Artista:</label>
                                    <input type="text" name="artisrta" value="{{ maqueta.artista.nombre }}"><br><br>
                                    <label for="descripcion">Descripcion:</label>
                                    <input type="text" name="descripcion" value="{{ maqueta.maquetas.descripcion }}"><br><br>


                                </form>
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5"></p>
                                <button class="btn btn-primary">
                                    Modificar
                                </button>
                                <button class="btn btn-primary">
                                    Eliminar
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% set count = count + 1 %}
{% endfor %}
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Maquetas de Rap</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <form method="post">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre"><br><br>
                                    <label for="email">Artista:</label>
                                    <input type="text" name="artisrta"><br><br>
                                    <label for="descripcion">Descripcion:</label>
                                    <input type="text" name="descripcion"><br><br>

                                </form>
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5"></p>
                                <button class="btn btn-primary">
                                    Crear
                                </button>
                                <button class="btn btn-primary">
                                    Cancelar
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 1-->


{% endblock %}

