<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{{ path('admin') }}">Administracion</li></a>
            <li><a href="{{ path('maquetas') }}">Maquetas</li></a>
            <li><a href="{{ path('eventos') }}">Eventos</li></a>
            <li><a href="{{ path('instrumentos') }}">Instrumentos en venta</li></a>
            <li><a href="{{ path('cursos') }}">Cursos de piano</li></a>
        </ul>
    </div>
</body>
</html>